<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <%= javascript_include_tag "welcome", type: "module", defer: true %>
</head>
<body>
  <nav id="navigation">React nav should go here</nav>
  <h1>Welcome</h1>
</body>
</html>
