:root {
  --hue: 62; /* brown */

  --very-dark:  oklch(20% 0.08 var(--hue));
  --dark:  oklch(40% 0.08 var(--hue));
  --base: oklch(55% 0.08 var(--hue));
  --light: oklch(95% 0.08 var(--hue));

  --accent: #B66A3C;
  --light-text: whitesmoke;
  --dark-text: black;
}

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;

  font-family: system-ui, sans-serif;
  font-weight: 500;
  background-color: var(--light);

  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

header, main, footer {
  padding: 1rem;
}

header, footer {
  background-color: var(--dark);
  color: var(--light-text);
}

header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 1rem;

  >img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }
}

footer {
  display: flex;
  justify-content: space-around;
}

h1, h2, h3 {
  margin: 0;
}

p {
  border: 3px solid var(--accent);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.dark {
  background-color: var(--dark);
  color: var(--light-text);
}

.base {
  background-color: var(--base);
  color: var(--light-text);
}

.light {
  background-color: var(--light);
  color: var(--dark-text);
}
